<!DOCTYPE html>
<html>
  <head>
    <title>iSMT</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' %>

    <%= javascript_include_tag("https://code.jquery.com/jquery-3.3.1.js")%>
    <%= javascript_include_tag("https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js")%>
    <%= javascript_include_tag("https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js")%>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <nav class="navbar navbar-light bg-light">
    <% if is_logged_in? %>
      <%= link_to "iSMT", current_user, :class => "navbar-brand" %>
    <% else %>
      <%= link_to "iSMT", href="/", :class => "navbar-brand" %>
    <% end %>
    <form class="form-inline">

      <% if is_logged_in? and is_admin? %>
        <a class="btn btn-outline-success m-1" href="/items/" role="button">
          View Items
        </a>
        <a class="btn btn-outline-success m-1" href="/users/new" role="button">
          Add Users
        </a>
        <a class="btn btn-outline-success m-1" href="/checkout" role="button">
          Checkout
        </a>
      <% end %>
      <a class="btn btn-outline-success m-1" href="/feedbacks" role="button">
        Feedback
      </a>
      <% if !is_logged_in? %>
        <a class="btn btn-outline-success m-1" href="/login" role="button">
          Sign In
        </a>
      <% else %>
        <%= link_to "Edit Profile", edit_user_path(session[:id]), :class => "btn btn-outline-success m-1" %>
        <%= link_to "Sign Out", '/logout', :class => "btn btn-outline-success m-1" %>
        <a class="btn btn-outline-success m-1" href="/items/new" role="button">
          Add Item
        </a>
      <% end %>
    </form>
  </nav>

  <div class="container">
    <%= yield %>
  </div>

  <div id=flash_container />
  </body>
</html>
